.container {
  background-color: PaleTurquoise;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.card {
  background-color: #fff;
  width: 30vw;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.flex {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.back_btn {
  width: 50px;
  padding: 5px 5px;
  color: #fff;
  border-radius: 10px;
  font-size: smaller;
  background: gray;
  text-align: center;
  display: block;
}

.button-add {
  text-align: center;
  border: 2px solid #dc70fa;
  font-size: 12px;
  color: #dc70fa;
  background-color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  margin: 10px 0 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}

label {
  display: inline-block;
  text-align: left;
  width: 80px;
}

.title {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 14px;
  outline: none;
}

.date {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 14px;
  outline: none;
}

.time {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 14px;
  outline: none;
}

.memo {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 14px;
  outline: none;
}

textarea {
  vertical-align: top;
}

.create {
  margin-bottom: 10px;
}